body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#duck{
	height: 10%;
	width: 10%;
}

.welcome-message, p{
font-size: 30px;
font-weight: bolder;
}

.welcome-message, ul, li{
	font-size: 20px;
	font-weight: normal;
	}

	.checkbox-title, p{
font-size: 20px;
font-weight: normal;
padding-top: 10px;
	}


	/**PROFILE HTML**/

	.header, h1{
		font-family: 'Dongle', sans-serif;
		font-size: 50px;
	}

	.skills-column, h3{
		font-family: 'Dongle', sans-serif;
		font-size: 50px;
	}

	#list, li{
		font-size: 30px;
	}

	/** FLEXCONTAINER **/
	.flex-container {
		display: flex;
		background: #fdc57b; 
	  }
	  
	  .flex-container > ul > li{
		background: #fbf2d5; 
		margin: 10px;
		padding: 20px;
		font-size: 20px;
		list-style-type: none;
		width:360px;
	  }

	  /**BUTTON LIST **/
	  .btn-list{
		  padding-top: 20px;

	  }

	.btn{
		background-color: yellow;
		border: none;
		color: black;
		padding: 16px 20px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 12px;
		margin: 4px 2px;
		cursor: pointer;;
	  }

	  /**MY CITY **/

	  .header-city, h1{
		font-family: 'Dongle', sans-serif;
		font-size: 50px;
	  }

	  .restuarants, h3{
		font-family: 'Dongle', sans-serif;
		font-size: 50px;
	  }

	  #restaurant-list, a{
		  list-style-type: none;
		  text-decoration: none;

	  }

	  .toVisit, li, a{
		list-style-type: none;
		text-decoration: none;
	  }

	  #rest-btn{
		background-color: white;
		border: 1px solid black;
		color: black;
		padding: 16px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 4px 2px;
		cursor: pointer;;  
	  }

	  #rest-btn:hover{
		  background-color: lightgray;
		  color:white;
	  }